


/* [vaul-overlay] {
    display: none;
}
 */


.form-time-input::-webkit-calendar-picker-indicator {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}